.question-wrap {
    width: 100px;
    height: 200px;
    margin: 0 auto;
}

.question {
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

.green {
    position: relative;
    left: 110px;
    top: -28px;
    color: green;
}

.red {
    position: relative;
    left: 110px;
    top: -28px;
    color: red;
}